body {
  font-family: Arial, sans-serif;
  background-color: hsl(234, 29%, 20%);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-up-box {
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  height: 80vh;
  width: 60vw;
  border-radius: 20px;
}
title {
  font-size: 2rem;
  font-weight: bold;
}
.text-side h1 {
  font-size: 3rem;
}
P {
  font-size: 0.9rem;
  color: hsl(234, 29%, 20%);
}

.sign-up-box img {
  height: auto;
  max-height: 75vh;
  max-width: 30vw;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.checkMarks img {
  height: 20px;
  width: 20px;
}
.checkMarks {
  display: flex;
  align-items: center;
  gap: 10px;
}
.text-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 50%;
  padding: 0 20px;
}
.email-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.email-section h4 {
  margin: 0;
}
.email-section input {
  opacity: 0.7;
  padding: 10px;
}
.email-section button {
  background-color: hsl(234, 29%, 20%);
  color: white;
  padding: 10px;
  cursor: pointer;
}
