body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-up-box {
  background-color: aqua;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 80vh;
  width: 70vw;
  border-radius: 20px;
}
h1{
    font-size: 3rem;
}

.sign-up-box img {
  height: 75vh;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.checkMarks img{
    height: 10px;
    width: 10px;
}