@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: hsl(234, 29%, 20%);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-up-box {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
  border-radius: 15px;
  width: 60%;
  height: auto;
  grid-template-areas: "text-side image-side";
}
.sign-up-box.active {
  display: none;
}

.text-side {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  grid-area: text-side;
}
.text-side h1 {
  font-size: clamp(0.7rem, 4vw, 3rem);
}
.text-side P {
  font-size: clamp(0.6rem, 1vw, 1.2rem);
}

.title {
  align-items: center;
  justify-items: center;
}
.sign-up-box img {
  grid-area: image-side;
  height: 90%;
  max-width: 90%;
  border-radius: 10px;
}

.checkMarks img {
  height: 20px;
  width: 20px;
}
.checkMarks {
  display: flex;
  align-items: center;
  gap: 10px;
}

.email-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}

.email-section h4 {
  margin: 0;
}
.email-section .email {
  opacity: 0.7;
  height: 30px;
  border: solid 1px gray;
  border-radius: 5px;
}
.email-section .email.active {
  color: red;
  background-color: rgba(233, 157, 157, 0.511);
  opacity: 0.7;
  padding: 10px;
  border: red;
  border-radius: 5px;
}
input:active::placeholder {
  color: red;
}
.email-section button {
  background-color: hsl(234, 29%, 20%);
  color: white;
  height: 45px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.error-message {
  display: none;
}
.error-message.active {
  display: block;
  color: red;
  font-size: 0.8rem;
  text-align: right;
}
.title-and-error {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.allCheckMarks {
  margin-bottom: 20px;
}

.successMessege {
  display: none;
}

.successMessege.active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  position: absolute;
  z-index: 3;
  height: auto;
  width: 40vw;
  padding: 30px 30px;
  border-radius: 20px;
}
.successMessege h1 {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  margin: 20px 0 0 0;
}
.successMessege p {
  font-size: clamp(0.8rem, 2vw, 1.2rem);
}
.successMessege .success-icon {
  height: 50px;
  width: 50px;
}
.successMessege .dismiss {
  margin-top: 20px;
  background-color: hsl(234, 29%, 20%);
  color: white;
  height: 40px;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

@media (max-width: 500px) {
  .sign-up-box {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 110vh;
    border-radius: 0;
    padding: 0;
  }
  .sign-up-box img {
    content: url("assets/images/illustration-sign-up-mobile.svg");
    position: sticky;
    height: 40vh;
    width: 100vw;
    border-radius: 0;
    max-width: 100%;
  }

  .text-side {
    align-items: right;
    text-align: center;
  }
  .text-side h1 {
    font-size: clamp(1.5rem, 8vw, 3rem);
  }
  .text-side p {
    font-size: clamp(0.8rem, 3vw, 1.1rem);
  }
  .email-section h4 {
    text-align: left;
  }

  .email-section {
    width: 100%;
  }
  .checkMarks img {
    content: none;
    height: 20px;
    width: 20px;
  }
  .successMessege.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    position: static;
    z-index: 3;
    height: 100vh;
    width: 100vw;
    border-radius: none;
  }
  .successMessege h1 {
    font-size: clamp(1.5rem, 8vw, 2.5rem);
    margin: 20px 0 0 0;
  }
  .successMessege p {
    font-size: clamp(0.9rem, 4vw, 1.3rem);
  }
}
